## Задача 1
В таблице Employee содержится информация по всем сотрудникам компании. 
У каждого
сотрудника есть уникальный идентификатор Id. Также в этой таблице есть поле DepartmentId,
которое представляет собой идентификатор департамента, в котором работает данный сотрудник.

В таблице Department содержится информация по департаментам компании.

Напишите SQL запрос на Oracle SQL, который выводит сотрудников зарплаты которых входят в
ТОП-3 зарплат по каждому департаменту.

### Описание:
1) Соединяем две таблицы по id департамента.

2) Выбираем записи, отсортированные по убыванию зарплаты для каждого департамента, присваиваем ранг зарплаты (формируем топ) и сохраняем алиас.

3) Затем выбираем записи, в которых ранг зарплаты входит в ТОП-3.

```
SELECT res.department, res.employee, res.salary
FROM
(SELECT
    dep.name as department,
    emp.name as employee,
    emp.salary as salary,
    DENSE_RANK() OVER (PARTITION BY dep.id ORDER BY emp.salary DESC) AS rank
  FROM "DEPARTMENT" dep
  INNER JOIN "EMPLOYEE" emp
  ON dep.id = emp.department_id) res
WHERE rank <= 3
```

## Задача 2

Написать функцию, которая:

1) принимает на вход итерируемый объект (list, tuple, np.array и т.п.) и число N - кол-во частей, на которые нужно разделить исходный итерируемый объект;

2) возвращает на выходе список из N-частей исходного итерируемого объекта.

In [1]:
def slice_list(lst, size):
    if size <= 0:
        return []
    
    chunk_size = len(lst) // size
    remain = len(lst) % size
    result = []
    
    try:
        iterator = iter(lst)
    except TypeError:
        return "Invalid iterable object"
    
    for i in range(size):
        result.append([])
        for j in range(chunk_size):
            result[i].append(next(iterator))
        if remain:
            result[i].append(next(iterator))
            remain -= 1
            
    return result

In [3]:
lst = [[1,'a','b'],[2,'c','d'], [3,'e','f']]
lst2 = [1, 2, 3, 4, 5, 6, 7, 8, 9]

print(slice_list(lst, 2))

[[[1, 'a', 'b'], [2, 'c', 'd']], [[3, 'e', 'f']]]

In [4]:
print(slice_list(lst2, 4))

[[1, 2, 3], [4, 5], [6, 7], [8, 9]]